/*
!.gitignore
!.bash_aliases
!.bash_profile
!.bashrc
!.bash_logout

!.dotfiles

!.config/
.config/*
!.config/nushell
.config/nushell/history.txt
!.config/cabal
!.config/bash/bash_aliases
!.config/git
!.config/sway
!.config/alacritty
!.config/waybar

!.config/nvim
.config/nvim/rplugin.vim
.config/nvim/site
.config/nvim/plugin/packer_compiled.lua

!.config/fish
.config/fish/functions/fsrf.fish
.config/fish/conf.d/local.fish
.config/fish/conf.d/display.fish
