/*
!.gitignore
!.dotfiles
!.config/
!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/applications/

# bash
!.bash_aliases
!.bash_profile
!.bashrc
!.bash_logout

# firefox
!.mozilla/
.mozilla/*
!.mozilla/firefox/
.mozilla/firefox/*
!.mozilla/firefox/user.js
