
layout {
	tab focus=true {
		pane size=1 borderless=true {
			plugin location="tab-bar"
		}
		pane focus=true {
			command "nvim"
			args "."
		}
		pane size=2 borderless=true {
			plugin location="status-bar"
		}
	}
	tab {
		pane size=1 borderless=true {
			plugin location="tab-bar"
		}
		pane
		pane size=2 borderless=true {
			plugin location="status-bar"
		}
	}
}
