ACTION!="add", GOTO="kmonad_end"
KERNEL!="event[0-9]*", GOTO="kmonad_end"
SUBSYSTEM!="input", GOTO="kmonad_end"

PROGRAM+="/usr/bin/systemd-escape -p '$devnode'"

DRIVERS=="atkbd", \
TAG+="systemd", \
ENV{SYSTEMD_WANTS}+="dotfiles-kmonad@$result.service"

ATTRS{name}=="Dell KB216 Wired Keyboard", \
TAG+="systemd", \
ENV{SYSTEMD_WANTS}+="dotfiles-kmonad@$result.service"

ATTRS{name}=="Logitech K540/K545", \
TAG+="systemd", \
ENV{SYSTEMD_WANTS}+="dotfiles-kmonad@$result.service"

ATTRS{name}=="Kensington Wireless Presenter with Laser Pointer", \
TAG+="systemd", \
ENV{SYSTEMD_WANTS}+="presenter-kmonad@$result.service"

#ATTRS{bInterfaceClass}=="03", \
#ATTRS{bInterfaceSubClass}=="01", \
#ATTRS{bInterfaceProtocol}=="01", \
#TAG+="systemd", \
#ENV{SYSTEMD_WANTS}+="dotfiles-kmonad@$result.service"

LABEL="kmonad_end"
