*
!.gitignore
!alacritty
!alacritty/*
!bash
!bash/*
bash/bash_device
!cabal
!cabal/*
!fish
!fish/*
!git
!git/*
!gtk-3.0
!gtk-3.0/*
!mako
!mako/*
!mimeapps.list

!mozilla
mozilla/*
!mozilla/firefox/
mozilla/firefox/*
!mozilla/firefox/user.js

!nvim
!nvim/**
nvim/nvim-pack-lock.json

!pacman
!pacman/*
!r
!r/*
!sway
!sway/*
!swayidle
!swayidle/*
!tmux
!tmux/*
!wofi
!wofi/*
!xdg-desktop-portal-wlr
!xdg-desktop-portal-wlr/*
