/*
!.gitignore
!cabal
!bash/bash_aliases
!git
!sway
!alacritty
!waybar
!mimeapps.list

!nvim
nvim/lazy-lock.json

!fish
fish/functions/fsrf.fish
fish/functions/jupdate.fish
fish/conf.d/local.fish
fish/conf.d/display.fish
