*
!.gitignore
!alacritty
!bash
!bash/.bashrc
!cabal
!fish
!git
!gtk-3.0
!mako
!mimeapps.list

!mozilla
mozilla/*
!mozilla/firefox/
mozilla/firefox/*
!mozilla/firefox/user.js

!nvim
nvim/lazy-lock.json

!pacman
!r
!sway
!swayidle
!swayidle/config
!tmux
!waybar
!wofi
!xdg-desktop-portal-wlr
!xdg-desktop-portal-wlr/config
